.filter {
  width: 60vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.span {
  color: rgb(247, 255, 240);
  font-weight: 700;
  margin: 0 auto;
}
.input {
  min-height: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px grey;
  border: 1px solid gray;
  outline: transparent;
  padding: 0 10px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .filter {
    max-width: 320px;
  }
}
@media screen and (min-width: 1158px) {
  .span {
    margin: 0;
  }
}
