.wrapper {
  width: 300px;
  padding: 10px;
  min-height: 100vh;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../assets/Chri-200-removebg-preview.png);
  /* background-repeat: no-repeat; */
  background-position: center center;
}

.box {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
  width: 280px;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 740px;
    padding: 20px;
  }
  .box {
    width: 700px;
    gap: 20px;
  }
  .search {
    gap: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .wrapper {
    width: 1408px;
    padding: 30px;
  }
  .box {
    flex-direction: row;

    align-items: start;
    width: 1348px;
    gap: 30px;
    flex-direction: row;
  }
  .search {
    align-items: start;
    flex-direction: column;
    gap: 30px;
    flex: 1;
  }
}
