.box_card {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  gap: 30px;
  padding: 6px;
  text-align: start;
  border-radius: 4px;
  border: 1px solid rgba(194, 193, 193, 0.452);
  background-color: #ffffff;
  box-shadow: -3px -3px 5px #e4e1e1, 3px 3px 5px #b7b8b7;
}
.input {
  display: flex;
  align-items: center;
  padding: 2px;
  font-weight: 500;
  font-size: 16px;
}
.input:first-child {
  margin-bottom: 10px;
}

.icon_p {
  margin-right: 4px;
  color: rgb(8, 163, 47);
  width: 14px;
  height: 14px;
}
.icon_t {
  margin-right: 4px;
  color: rgb(209 60 23);
  width: 14px;
  height: 14px;
}

.box_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  gap: 10px;
}
.btn {
  display: block;
  margin-left: auto;
  padding: 2px;

  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(105, 1, 1);
  background-color: #c70404;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: rgb(22, 110, 5);
    outline: none;

    transform: translateY(1px);
  }
  &:focus {
    background-color: rgb(22, 110, 5);
    outline: none;

    transform: translateY(1px);
  }
}

@media screen and (min-width: 768px) {
  .box_card {
    width: 100%;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
  .item {
    width: 100%;
    padding: 10px;
  }
  .icon_p,
  .icon_t {
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }
  .input {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1158px) {
  .box_btn {
    flex-direction: row;
  }

  .icon_p,
  .icon_t {
    width: 18px;
    height: 18px;
  }
  .input {
    font-weight: 600;
    font-size: 20px;
  }
  .btn {
    font-size: 20px;
  }
}
