.wrapper_l {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 320px;
  margin: 0 auto;
  padding: 10px;
}

.box_log {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.span {
  font-weight: 500;
  font-size: 16px;
}
.input {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 4px;
}
.error {
  position: absolute;
  top: 110%;
  left: 16px;
  color: red;
  font-size: 14px;
  line-height: 1.1;
  text-align: start;
}
.btn {
  display: block;
  margin-left: auto;
  padding: 2px;

  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgb(105, 1, 1);
  background-color: #c70404;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(22, 110, 5);
}

.text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .wrapper_l {
    max-width: 700px;
    padding: 10px;
  }
  .box_log {
    width: 400px;
  }
  .error {
    font-size: 16px;
  }
}

.text {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 1158px) {
  .wrapper_l {
    max-width: 1408px;
    margin: 0 auto;
    padding: 30px;

    /* background-image: url(../../assets/ncontact.jpg); */
  }
  .box_log {
    max-width: 700px;
    padding: 30px;
  }
  .text {
    font-weight: 700;
    font-size: 24px;
  }
}
