*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Gluten", serif;
  font-weight: 400;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
