.container {
  min-width: 320px;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  max-width: 300px;

  margin: 0 auto;
  padding: 20px;

  background-color: #fff;

  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 30px;
}
.text {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding: 0 14px;
  }
  .wrapper {
    max-width: 740px;
    padding: 20px;
    gap: 20px;
  }

  .text {
    margin-bottom: 20px;
    line-height: 1.9em;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;

    padding: 0 16px;
  }
  .wrapper {
    max-width: 1408px;
    gap: 30px;
    margin: 0 auto;
    padding: 30px;
  }
  .title {
    font-size: 36px;
  }
  .text {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
